<div class="jumbotron">
    <p class="display-4 text-center">About</p>
</div>
<div class="container">
    <h5>This project is made using Angular 8 and Bootstrap.</h5>
    <h5>For icons this project uses fontawesome 4.7.0 css pack.</h5>
    <h6>This is a very simple app that allows us to search fontawesome icons.</h6>
    <h6>Developed By : Akash Patel</h6>
    <a class="btn btn-primary mr-2 mt-1" href="https://github.com/akpatel363"><i class="fa fa-file"></i> Repository</a>
    <a class="mt-1 btn btn-dark mr-2" href="https://github.com/akpatel363"><i class="fa fa-github"></i> Profile</a>
    <a class="mt-1 btn btn-danger mr-2" href="https://akpatel363.github.io"><i class="fa fa-github-alt"></i> My Blog</a>
    <a  class="mt-1 btn btn-info mr-2" href="https://fontawesome.com"><i class="fa fa-fonticons"></i> fontawesome.com</a>
    <a href="https://www.bootstrapcdn.com/fontawesome/" class="mt-1 btn btn-success mr-2"><i class="fa fa-shopping-bag"></i> CSS Pack</a>
</div>