<div class="container">
    <form [formGroup]="searchForm" class="mt-3">
        <input type="text" class="form-control" placeholder="Search Here" formControlName="query" (keyup)="submit()">
    </form>
    <p class="display-4">Icons</p>
    <div class="row" *ngIf="classes.length>0; else nothingFound">
        <div class="col-xl-1 col-lg-1 col-md-2 col-3 h1 text-center" *ngFor="let class of classes">
            <i [class]="class" (click)="navigate(class)"></i>
        </div>
    </div>
</div>

<ng-template #nothingFound>
    <h1 class="text-center py-3">No Match Found.</h1>
</ng-template>