<div class="container" *ngIf="no<1057; else notFound">
    <div class=" pt-2 mt-2 text-center">
        <i class="material-icons md-48" style="font-size: 128px;">{{className}}</i>
        <i class="material-icons" style="font-size: 96px;">{{className}}</i>
        <i class="material-icons" style="font-size: 72px;">{{className}}</i>
        <i class="material-icons" style="font-size: 48px;">{{className}}</i>
    </div>
    <i class="fa fa-air-freshener"></i>
    <div class="pt-3">
        <h2 class="my-3">{{className}}</h2>
        <h5>&lt;i class="material-icons"&gt;{{className}}&lt;/i&gt;</h5>
    </div>
    <div class="alert alert-primary my-3">
        For all these icons you must include the Google Material Icons Link in your HTML document.<br>
        You can find the link <a class="alert-link" href="https://fonts.googleapis.com/icon?family=Material+Icons">here.</a>.
    </div>
</div>

<ng-template #notFound>
    <div class="container text-center">
        <h1 class="my-3 pt-3">Nothing Found.</h1>
    </div>
</ng-template>